body{
    background-color: #36393d;

}

.container{
    margin-top: 10px;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: #343a40; /* Dark gray */
    color: #fff;
    padding: 40px 0;
}

.footer h5 {
    font-size: 20px;
}

.footer p {
    font-size: 16px;
}

.footer ul {
    padding-left: 0;
    list-style: none;
}

.footer ul li {
    font-size: 16px;
}

.footer hr {
    border-top: 1px solid #fff;
}

.footer p.text-center {
    font-size: 14px;
    margin-top: 20px;
}

.playlist {
    background-color: #c9c8c8;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.playlist img {
    width: 100%;
    border-radius: 8px;
}

.playlist h4 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.playlist p {
    font-size: 14px;
    color: #7e6565;
}


.playlist:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.playlist:hover img {
    transform: scale(1.1);
}